@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
	--primary-color:  #9ee794 ;
	--second-color:  #9fd5d1 ;
	--background-color: #ffffff;
	--dark-color: #151515;
}

html {
	font-size: 62.5%;
	font-family: 'Poppins', sans-serif;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  }
  
  body {
	background-image: url('images/');
  }
 
  


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* ********************************** */
/*             UTILIDADES             */
/* ********************************** */
.container {
	max-width: 120rem;
	margin: 0 auto;
}

.heading-1 {
	text-align: center;
	font-weight: 500;
	font-size: 3rem;
}

/* ********************************** */
/*               HEADER               */
/* ********************************** */
.container-hero {
	background-color: var(--background-color);
}

.hero {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.customer-support {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.customer-support i {
	font-size: 3.3rem;
}

.content-customer-support {
	display: flex;
	flex-direction: column;
}

.container-logo {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.container-logo i {
	font-size: 3rem;
}

.container-logo h1 a {
	text-decoration: none;
	color: #000;
	font-size: 3rem;
	text-transform: uppercase;
	letter-spacing: -1px;
}

.container-user {
	display: flex;
	gap: 1rem;
	cursor: pointer;
}

.container-user .fa-user {
	font-size: 3rem;
	color: var(--primary-color);
	padding-right: 2.5rem;
	border-right: 1px solid #e2e2e2;
}




/* ************* NAVBAR ************* */
.container-navbar {
	background-color: var(--primary-color);
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem 0;
}

.navbar .fa-bars {
	display: none;
}

.menu {
	display: flex;
	gap: 2rem;
}

.menu li {
	list-style: none;
}

.menu a {
	text-decoration: none;
	font-size: 1.3rem;
	color: var(--dark-color);
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}

.menu a::after {
	content: '';
	width: 1.5rem;
	height: 1px;
	background-color: #fff;
	position: absolute;
	bottom: -3px;
	left: 50%;
	transform: translate(-50%, 50%);
	opacity: 0;
	transition: all 0.3s ease;
}

.menu a:hover::after {
	opacity: 1;
}

.menu a:hover {
	color: #fff;
}

.search-form {
	position: relative;
	display: flex;
	align-items: center;
	border: 2px solid #fff;
	border-radius: 2rem;
	background-color: #fff;
	height: 4.4rem;
	overflow: hidden;
}

.search-form input {
	outline: none;
	font-family: inherit;
	border: none;
	width: 25rem;
	font-size: 1.4rem;
	padding: 0 2rem;
	color: #777;
	cursor: pointer;
}

.search-form input::-webkit-search-cancel-button {
	appearance: none;
}

.search-form .btn-search {
	border: none;
	background-color: var(--primary-color);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	padding: 1rem;
}

.btn-search i {
	font-size: 2rem;
	color: #fff;
}

/* ********************************** */
/*               BANNER               */
/* ********************************** */
.banner {
	background-image: linear-gradient(100deg, #0b174b , #363c58),
	  url('img/banner.jpg'); /* Replace 'img/banner.jpg' with the path to your background image */
	height: 60rem;
	background-size: cover;
	background-position: center;
  }
  .content-banner {
	max-width: 90rem;
	margin: 0 auto;
	padding: 25rem 0;
  }
  
  .content-banner p {
	color: var(--primary-color);
	font-size: 1.2rem;
	margin-bottom: 1rem;
	font-weight: 500;
  }
  
  .content-banner h2 {
	color: #fff;
	font-size: 3.5rem;
	font-weight: 500;
	line-height: 1.2;
  }
  
  .content-banner a {
	margin-top: 2rem;
	text-decoration: none;
	color: #fff;
	background-color: var(--primary-color);
	display: inline-block;
	padding: 1rem 3rem;
	text-transform: uppercase;
	border-radius: 3rem;
  }
  
/* ********************************** */
/*            MAIN CONTENT            */
/* ********************************** */
.main-content {
	background-color: var(--background-color);
}


.container-features {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;
	padding: 3rem 0;
}
.card-feature {
	background-color: #00acee;
	padding: 20px;
	border-radius: 4px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}
.feature-content {
	text-align: center;
}
.feature-content span {
	display: block;
	font-size: 24px;
	font-weight: bold;
	color: #007bff;
	margin-bottom: 10px;
}
.feature-content p {
	color: #007bff;
}

/* ********************************** */
/*              FEATURES              */
/* ********************************** */
.container-features {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 3rem;
	padding: 3rem 0;
}

.card-feature {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;

	background-color: #fff;
	border-radius: 1rem;
	padding: 1.5rem 0;
}

.card-feature i {
	font-size: 2.7rem;
	color: var(--primary-color);
}

.feature-content {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.feature-content span {
	font-weight: 700;
	font-size: 1.2rem;
	color: var(--dark-color);
}

.feature-content p {
	color: #777;
	font-weight: 500;
}

/* ********************************** */
/*             CATEGORIES             */
/* ********************************** */

.heading-1 {
	color: #85e778;
  }
  .container.top-categories {
	background-color: #ffffff; /* Replace this with the desired background color or image */
	padding: 20px; /* Optional: Add padding to create some space around the content */
  }
  
.card-category {
	height: 20rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 2rem;
	gap: 2rem;
	text-align: center; /* Agregar esta propiedad para centrar el texto horizontalmente */
  }
  
  .card-category p {
	font-size: 2.5rem;
	color: #000;
	text-transform: capitalize;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  
  .card-category p::after {
	content: '';
	width: 2.5rem;
	height: 2px;
	background-color: #000;
	position: absolute;
	bottom: -1rem;
	left: 50%;
	transform: translateX(-50%); /* Cambiar la propiedad translate para centrar la línea horizontalmente */
  }
  
  .card-category span {
	font-size: 1.6rem;
	color: #000;
	cursor: pointer;
  }
  


/* ********************************** */
/*            TOP PRODUCTS            */
/* ********************************** */

.top-products {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

.container-options {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-bottom: 1rem;
}

.container-options span {
	color: #777;
	background-color: #fff;
	padding: 0.7rem 3rem;
	font-size: 1.4rem;
	text-transform: capitalize;
	border-radius: 2rem;
	cursor: pointer;
}

.container-options span:hover {
	background-color: var(--primary-color);
	color: #fff;
}

.container-options span.active {
	background-color: var(--primary-color);
	color: #fff;
}

/* Products */
.container-products {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
	gap: 3rem;
}

.card-product {
	background-color: #fff;
	padding: 2rem 3rem;
	border-radius: 0.5rem;
	cursor: pointer;
	box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
}

.container-img {
	position: relative;
}

.container-img img {
	width: 100%;
}

.container-img .discount {
	position: absolute;
	left: 0;
	background-color: var(--primary-color);
	color: #fff;
	padding: 2px 1.2rem;
	border-radius: 1rem;
	font-size: 1.2rem;
}

.card-product:hover .discount {
	background-color: #000;
}

.button-group {
	display: flex;
	flex-direction: column;
	gap: 1rem;

	position: absolute;
	top: 0;
	right: -3rem;
	z-index: -1;
	transition: all 0.4s ease;
}

.button-group span {
	border: 1px solid var(--primary-color);
	padding: 0.8rem;

	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;
}

.button-group span:hover {
	background-color: var(--primary-color);
}

.button-group span i {
	font-size: 1.5rem;
	color: var(--primary-color);
}

.button-group span:hover i {
	color: #fff;
}

.card-product:hover .button-group {
	z-index: 0;
	right: -1rem;
}

.content-card-product {
	display: grid;
	justify-items: center;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: repeat(4, min-content);
	row-gap: 1rem;
}



.content-card-product h3 {
	grid-row: 2/3;
	grid-column: 1/-1;

	font-weight: 400;
	font-size: 1.6rem;
	margin-bottom: 1rem;
	cursor: pointer;
}

.content-card-product h3:hover {
	color: var(--primary-color);
}

.add-cart {
	justify-self: start;
	border: 2px solid var(--primary-color);
	padding: 1rem;
	border-radius: 50%;
	cursor: pointer;
	transition: all 0.4s ease;

	display: flex;
	align-items: center;
	justify-content: center;
}

.add-cart:hover {
	background-color: var(--primary-color);
}

.add-cart i {
	font-size: 1.5rem;
	color: var(--primary-color);
}

.add-cart:hover i {
	color: #fff;
}

.content-card-product .price {
	justify-self: end;
	align-self: center;

	font-size: 1.7rem;
	font-weight: 600;
}

.content-card-product .price span {
	font-size: 1.5rem;
	font-weight: 400;
	text-decoration: line-through;
	color: #777;
	margin-left: 0.5rem;
}

/* ********************************** */
/*               GALLERY              */
/* ********************************** */
.gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(2, 30rem);
	gap: 1.5rem;
	margin-bottom: 3rem;
}

.gallery img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.gallery-img-3 {
	grid-column: 2/4;
	grid-row: 1/3;
}

/* ********************************** */
/*              SPECIALS              */
/* ********************************** */
.specials {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-bottom: 3rem;
}

/* ********************************** */
/*                BLOGS               */
/* ********************************** */
.blogs {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.container-blogs {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 3rem;
}

.card-blog {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.card-blog .container-img {
	border-radius: 2rem;
	cursor: pointer;
	position: relative;
	overflow: hidden;
}

.button-group-blog {
	position: absolute;
	bottom: 1.5rem;
	right: -2.5rem;

	display: flex;
	gap: 0.7rem;
	z-index: -1;
	transition: all 0.3s ease;
}

.card-blog:hover .button-group-blog {
	z-index: 0;
	right: 1.5rem;
}

.button-group-blog span {
	background-color: #fff;
	padding: 1rem;
	border-radius: 50%;
	transition: all 0.4s ease;

	display: flex;
	align-items: center;
	justify-content: center;
}

.button-group-blog span i {
	font-size: 1.3rem;
}

.button-group-blog span:hover {
	background-color: var(--primary-color);
}

.button-group-blog span:hover i {
	color: #fff;
}

.content-blog h3 {
	font-size: 1.8rem;
	margin-bottom: 1.7rem;
	color: var(--dark-color);
	font-weight: 500;
}

.content-blog h3:hover {
	color: var(--primary-color);
	cursor: pointer;
}

.content-blog p {
	margin-top: 1rem;
	font-size: 1.4rem;
	color: #777;
}

.content-blog span {
	color: var(--primary-color);
	font-size: 1.3rem;
}

.btn-read-more {
	padding: 1rem 3rem;
	background-color: var(--primary-color);
	color: #fff;
	text-transform: uppercase;
	font-size: 1.4rem;
	border-radius: 2rem;
	margin: 3rem 0 5rem;
	display: inline-block;
	cursor: pointer;
}

.btn-read-more:hover {
	background-color: var(--dark-color);
}

/* ********************************** */
/*               FOOTER               */
/* ********************************** */

.footer {
	background-color: var(--primary-color);
}

.container-footer {
	display: flex;
	flex-direction: column;
	gap: 4rem;
	padding: 3rem;
}

.menu-footer {
	display: grid;
	grid-template-columns: repeat(3, 1fr) 30rem;
	gap: 3rem;
	justify-items: center;
}

.title-footer {
	font-weight: 600;
	font-size: 1.6rem;
	text-transform: uppercase;
}

.contact-info,
.information,
.my-account,
.newsletter {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.contact-info ul,
.information ul,
.my-account ul {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.contact-info ul li,
.information ul li,
.my-account ul li {
	list-style: none;
	color: #fff;
	font-size: 1.4rem;
	font-weight: 300;
}

.information ul li a,
.my-account ul li a {
	text-decoration: none;
	color: #fff;
	font-weight: 300;
}

.information ul li a:hover,
.my-account ul li a:hover {
	color: var(--dark-color);
}

.social-icons {
	display: flex;
	gap: 1.5rem;
}

.social-icons span {
	border-radius: 50%;
	width: 3rem;
	height: 3rem;

	display: flex;
	align-items: center;
	justify-content: center;
}

.social-icons span i {
	color: #fff;
	font-size: 1.2rem;
}

.facebook {
	background-color: #3b5998;
}

.twitter {
	background-color: #00acee;
}

.youtube {
	background-color: #c4302b;
}

.pinterest {
	background-color: #c8232c;
}

.instagram {
	background: linear-gradient(
		#405de6,
		#833ab4,
		#c13584,
		#e1306c,
		#fd1d1d,
		#f56040,
		#fcaf45
	);
}

.content p {
	font-size: 1.4rem;
	color: #fff;
	font-weight: 300;
}

.content input {
	outline: none;
	background: none;
	border: none;
	border-bottom: 2px solid #d2b495;
	cursor: pointer;
	padding: 0.5rem 0 1.2rem;
	color: var(--dark-color);
	display: block;
	margin-bottom: 3rem;
	margin-top: 2rem;
	width: 100%;
	font-family: inherit;
}

.content input::-webkit-input-placeholder {
	color: #eee;
}

.content button {
	border: none;
	background-color: #000;
	color: #fff;
	text-transform: uppercase;
	padding: 1rem 3rem;
	border-radius: 2rem;
	font-size: 1.4rem;
	font-family: inherit;
	cursor: pointer;
	font-weight: 600;
}

.content button:hover {
	background-color: var(--background-color);
	color: var(--primary-color);
}

.copyright {
	display: flex;
	justify-content: space-between;
	padding-top: 2rem;

	border-top: 1px solid #d2b495;
}

.copyright p {
	font-weight: 400;
	font-size: 1.6rem;
}

/* ********************************** */
/*       MEDIA QUERIES -- 768px       */
/* ********************************** */
@media (max-width: 768px) {
	html {
		font-size: 55%;
	}

	.hero {
		padding: 2rem;
	}

	.customer-support {
		display: none;
	}

	.content-shopping-cart {
		display: none;
	}

	.navbar {
		padding: 1rem 2rem;
	}

	.navbar .fa-bars {
		display: block;
		color: #fff;
		font-size: 3rem;
	}

	.menu {
		display: none;
	}

	.content-banner {
		max-width: 50rem;
		margin: 0 auto;
		padding: 25rem 0;
	}

	.container-features {
		grid-template-columns: repeat(2, 1fr);
		padding: 3rem 2rem;
	}

	.card-feature {
		padding: 2rem;
	}

	.heading-1 {
		font-size: 2.4rem;
	}

	.card-category {
		height: 12rem;
	}

	.card-category p {
		font-size: 2rem;
		text-align: center;
		line-height: 1;
	}

	.card-category span {
		font-size: 1.4rem;
	}

	.container-options {
		align-items: center;
	}

	.container-options span {
		text-align: center;
		padding: 1rem 2rem;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
	}

	.gallery {
		grid-template-rows: repeat(2, 15rem);
	}

	.container-blogs {
		overflow: hidden;
		grid-template-columns: 1fr 1fr;

		height: 52rem;
	}

	.menu-footer {
		grid-template-columns: repeat(2, 1fr);
	}

	.copyright {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1.5rem;
	}
}

/* ********************************** */
/*       MEDIA QUERIES -- 468px       */
/* ********************************** */
@media (max-width: 468px) {
	html {
		font-size: 42.5%;
	}

	.content-banner {
		max-width: 50rem;
		padding: 22rem 0;
	}

	.heading-1 {
		font-size: 2.8rem;
	}

	.card-feature {
		flex-direction: column;
		border-radius: 2rem;
	}

	.feature-content {
		align-items: center;
	}

	.feature-content p {
		font-size: 1.4rem;
		text-align: center;
	}

	.feature-content span {
		font-size: 1.6rem;
		text-align: center;
	}

	.container-options span {
		font-size: 1.8rem;
		padding: 1rem 1.5rem;
		font-weight: 500;
	}

	.container-products {
		grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
		gap: 1rem;
	}

	.container-img .discount {
		font-size: 2rem;
	}

	.content-card-product h3 {
		font-size: 2.2rem;
	}

	.gallery {
		grid-template-rows: repeat(2, 20rem);
	}

	.blogs {
		padding: 2rem;
	}

	.container-blogs {
		grid-template-columns: 1fr;
		height: 75rem;
	}

	.content-blog h3 {
		font-size: 2.4rem;
	}

	.content-blog span {
		font-size: 1.8rem;
	}

	.content-blog p {
		font-size: 2.2rem;
	}

	.btn-read-more{
		font-size: 1.8rem;
	}

	.contact-info ul,
	.information ul,
	.my-account ul{
		display: none;
	}

	.contact-info {
		align-items: center;
	}

	.menu-footer{
		grid-template-columns: 1fr;
	}

	.content p{
		font-size: 1.6rem;
	}
}
.tweet {
	background-color: #f3f6f7;
	color: rgb(0, 0, 0);
	padding: 10px;
	margin: 0 auto; /* Para centrar las publicaciones */
	margin-bottom: 10px;
	width: 80%; /* Ancho del contenedor de la publicación */
	border-radius: 8px; /* Bordes redondeados */
  }

  /* Estilos para el formulario de publicación */
  #tweetForm {
	margin: 20px auto; /* Para centrar el formulario */
	width: 80%; /* Ancho del formulario */
  }

  /* Estilos para el área de texto */
  #tweetContent {
	width: 100%;
	resize: none; /* Desactiva el redimensionamiento del área de texto */
	padding: 8px;
	border-radius: 4px;
	border: none;
	background-color: #ffffff;
	color: #097a85;
	font-size: 16px;
  }

  /* Estilos para el botón de publicar */
  #tweetForm button {
	background-color: #097a85;
	color: rgb(0, 0, 0);
	padding: 8px 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }

  #postForm {
	margin-bottom: 10px;
}

.post {
	background-color: #000000;
	color: rgb(0, 0, 0);
	padding: 10px;
	margin-bottom: 10px;
}

.deleteBtn {
	cursor: pointer;
}
/* ... Existing CSS styles ... */


.tweet-options {
	position: absolute;
	top: 5px;
	right: 5px;
	display: none;
  }
  
  
  .tweet:hover .tweet-options {
	display: block;
  }
  /* ... Existing CSS styles ... */

.upload-icon {
	cursor: pointer;
  }
  
  .upload-icon i {
	font-size: 24px;
  }
  
  .upload-icon:hover {
	color: #9fd5d1; /* Change color on hover (optional) */
  }
  
  #blogForm {
	max-width: 400px;
	margin: 0 auto;
	padding: 20px;
	border: 2px solid #097a85;
	border-radius: 5px;
	background-color: #f9f9f9;
}

#blogForm input[type="text"],
#blogForm input[type="date"],
#blogForm textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 3px;
	background-color: #fff;
	font-size: 16px;
}

#blogForm button[type="submit"] {
	padding: 10px;
	background-color: #097a85;
	color: #fff;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-size: 16px;
	transition: background-color 0.3s ease;
}

#blogForm button[type="submit"]:hover {
	background-color: #9fd5d1;
}

#blogsList {
	max-width: 800px;
	margin: 20px auto;
	padding: 20px;
	background-color: #f9f9f9;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#blogsList article {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	margin-bottom: 20px;
}

#blogsList h2 {
	color: #097a85;
	font-size: 24px;
	margin-bottom: 10px;
}

#blogsList p {
	color: #444;
	font-size: 16px;
	line-height: 1.6;
}
#blogForm {
    display: none;
  }
  /* Add the following styles at the end of your CSS file */
.publish-blog-button {
	display: block;
	margin: 20px auto; /* Adjust the margin value to position the button vertically */
	padding: 10px 20px;
	background-color: #9fd5d1; /* Customize the background color */
	color: #fff; /* Set the text color */
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
  }
  
  .publish-blog-button:hover {
	background-color: #9fd5d1; /* Change the background color on hover */
  }
  
  /* Center the blog form on the page */
  #blogForm {
	margin: 0 auto;
	width: 80%;
	max-width: 600px;
  }
  
  /* Add some space between the form fields */
  #blogForm input,
  #blogForm textarea,
  #blogForm button {
	margin-bottom: 10px;
  }

  footer{
    position: relative;
    width: 100%;
    height: auto;
    padding: 50px 100px;
    margin-top: 3rem;
    background: #111;
    display: flex;
    font-family: sans-serif;
    justify-content: space-between;
}

.footer-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}

.footer-container .sec{
    margin-right: 30px;
}

.footer-container .sec.aboutus{
    width: 40%;
}

.footer-container h2{
    position: relative;
    color: #fff;
    margin-bottom: 15px;
}

.footer-container h2::before{
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 50px;
    height: 2px;
    background: rgb(183, 255, 193);
}

footer p{
    color: #fff;
}

.sci{
    margin: 20px;
    display: flex;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 4px;
    transition: .5s;
}

.sci li a:hover{
    background: rgb(254, 255, 255);
}

.sci i a .bx{
    color: #fff;
    font-size: 20px;
}

.quicklinks{
    position: relative;
    width: 25%;
}

.quicklinks ul li{
    list-style: none;
}

.quicklinks ul li a{
    color: #999;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
    transition: .3s;
}

.quicklinks ul li a:hover{
    color: #fff;
}

.footer-container .contactBx{
    width: calc(35% - 60px);
    margin-right: 0 !important;
}

.contactBx .info{
    position: relative;
}

.contactBx .info li{
    display: flex !important;
    margin-bottom: 16px;
}

.contactBx .info li span:nth-child(1){
    color: #fff;
    font-size: 20px;
    margin-right: 10px;
}

.contactBx .info li span{
    color: #999;
}

.contactBx .info li a{
    color: #999;
    text-decoration: none;
    transition: .5s;
}

.contactBx .info li a:hover{
    color: #fff;
}

@media (max-width: 1060px){
    .container{
        margin: 0 auto;
        width: 95%;
    }

    .home-text{
        width: 100%
    }
}

@media (max-width: 768px){
    .nav{
        padding: 10px 0;
    }

    section{
        padding: 2rem 0 !important;
    }

    .header-content{
        margin-top: 3rem !important;
    }

    .home{
        min-height: 380px;
    }

    .home-title{
        font-size: 3rem;
    }

    .header-title{
        font-size: 2rem;
    }

    .header-img{
        height: 370px;
    }

    .about{
        flex-direction: column;
    }

    .about .contentBx{
        min-width: 100%;
        width: 100%;
        text-align: center;
        padding-right: 0px;
    }

    .about .contentBx,
    .about .imgBx{
        min-width: 100%;
        width: 100%;
        padding-right: 0px;
        text-align: center;
    }

    .about .imgBx{
        min-height: 250px;
    }

    .btn2{
        margin-bottom: 30px;
    }

    .post-header{
        height: 435px;
    }

    .post-header{
        margin-top: 9rem !important;
    }
}

@media (max-width: 570px){
    .post-header{
        height: 390px;
    }

    .header-title{
        width: 100%;
    }

    .header-img{
        height: 340px;
    }
}

@media (max-width: 396px){
    .home-title{
        font-size: 2rem;
    }

    .home-subtitle{
        font-size: 0.9rem;
    }

    .home{
        min-height: 300px;
    }

    .post-box{
        padding: 10px;
    }

    .header-title{
        font-size: 1.4rem;
    }

    .header-img{
        height: 240px;
    }

    .post-header{
        height: 335px;
    }

    .header-img{
        height: 340px;
    }
}

/* Footer Media Query */
@media (max-width: 991px){
    footer{
        padding: 40px;
        font-size: 20px;
    }

    footer .footer-container{
        flex-direction: column;
    }

    footer .footer-container .sec{
        margin-right: 0;
        margin-bottom: 40px;
    }

    footer .footer-container .sec.aboutus{
        width: 100% !important;
    }

    footer .footer-container .quicklinks{
        width: 100%;
    }

    footer .footer-container .contactBx{
        width: 100%;
    }
}
.footer-bottom h3 {
  color: white; /* Cambiar el color a blanco aquí */
  margin-top: auto; /* Ajusta el h3 al final del footer */
}  
.modal-container {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	justify-content: center;
	align-items: center;
	z-index: 9999;
  }
  
  .form-container {
	background-color: #f9f9f9;
	padding: 20px;
	border-radius: 5px;
	max-width: 400px;
	width: 90%;
	position: relative; /* Add this line to enable absolute positioning for the h1 */
  }
  
  .form-container h1 {
	text-align: center; /* Center the form title */
	margin-bottom: 20px;
	position: absolute; /* Add this line to position the h1 absolutely */
	top: -30px; /* Adjust this value as needed to control the vertical positioning */
	left: 50%; /* Position the h1 horizontally at 50% from the left */
	transform: translateX(-50%); /* Center the h1 horizontally using translation */
  }
  

  
  .form-container .form-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
  }
  
  .form-container .form-wrapper h1 {
	margin-bottom: 20px;
  }
  
  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="password"] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
  }
  
  .form-container button[type="submit"] {
	background-color: #9fd5d1;
	color: white;
	padding: 14px 20px;
	margin-top: 10px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	width: 100%;
	font-size: 16px;
  }
  
  .form-container button[type="submit"]:hover {
	background-color: #00acee;
  }
  
  .form-container p {
	text-align: center; /* Center the "¿No tienes una cuenta?" and "¿Ya tienes una cuenta?" links */
	margin-top: 10px;
  }
  
  .form-container p a {
	color: #00acee;
	text-decoration: none;
  }
  
  .close-btn {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 20px;
	cursor: pointer;
  }
  
  /* Additional styles for positioning the login and register forms */
  #registrationFormContainer {
	display: none;
  }
  .form-container h1#registerTitle,
#registrationFormContainer h1#loginTitle {
  text-align: center; /* Center the form titles */
  margin-bottom: 20px;
  font-size: 24px; /* Adjust the font size as needed */
}

/* Additional styles for positioning the login and register forms */
#registrationFormContainer {
  display: none;
}   
/* CSS Styles for the user cards */
.user-card {
	/* Existing styles remain unchanged */
	border: 1px solid #ccc;
	padding: 10px;
	width: 200px;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	display: inline-block;
	text-align: center;
	transition: box-shadow 0.3s ease, height 0.3s ease; /* Add height transition */
	height: 150px; /* Set initial height */
	overflow: hidden; /* Hide additional info by default */
  }
  
  .user-card:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	height: 250px; /* Adjust height on hover to show additional info */
  }
  
  .user-info {
	/* Additional information styles */
	margin-top: 20px;
	color: #666;
	font-size: 14px;
  }
  
  /* Rest of the existing styles remain unchanged */
  
  .user-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
  }

  .user-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .user-name {
    font-size: 16px;
    font-weight: bold;
    margin: 10px 0;
  }

  .user-email {
    font-size: 14px;
    color: #777;
  }
 
 
  main {
	padding: 2rem;
  }
  
  .blog-post {
	margin-bottom: 3rem;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 1.5rem;
	background-color: #f9f9f9;
  }
  
  h1, h2 {
	color: #333;
  }
  
  .post-date {
	color: #999;
	font-style: italic;
  }
  
  p {
	color: #666;
	margin-bottom: 1rem;
  }
  
  
.video-container {
	position: relative;
	width: 100%;
	padding-bottom: 40%; /* 4:3 aspect ratio (height 40% of width) */
	margin-bottom: 1rem; /* Add some spacing between video containers */
  }
  
 
  
  /* Center the video within the blog post */
  .blog-post .video-container {
	display: flex;
	justify-content: center;
  }
  
  .video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
  }
  